body {
    margin: 0;
    padding: 0;
}

:root {
    --green: #43d625;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
    box-shadow: 0 0.1rem 0,5rem #ccc;
    transition: all 0.6s;
    position: relative;
}

.navigation .logo{
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo span{
    color: #43d625;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-right: 90px;
    list-style: none;
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation ul li a:hover{
    color:#1EBBE5 ;
}

.navigation li{
    cursor: pointer;
    font-size: 1.5rem;
}

.mpp span {
    color: #43d625;
}

.home {
    background-color: #1EBBE5;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    margin: 0;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 60px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 52px;
    margin: 0;
    font-family: 'Young Serif', serif;
}

h4 {
    font-size: 14px;
    margin:0;
    margin-right: 160px;
}

h4 span {
    color: black;
    font-size: 16px;
    font-family: 'Young Serif', serif;
} 

.contato-btn {
    padding-top: 50px;
}

.btn{
    color:#1EBBE5;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    background-color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 30px 15px 30px 15px;
    font-weight: 700;
}

img {
    padding-top: 80px;
}

.infos {
    font-family: 'Young Serif', serif;
    background-color: white;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabela {
    font-family: 'Young Serif', serif;
    border: 1px solid rgb(218, 218, 248);
    height: 60vh;
    width: 30vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #1ebae560;
    backdrop-filter: blur(2px);
    
}

.conteudo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.info-esquerda p {
    text-align: left;
}

.info-direita p {
    text-align: right;
}

.titulo {
margin-bottom: 40px;
font-family: 'Young Serif', serif;

}

.conteudo .info-esquerda {
    margin-bottom: 40px;
    font-size: 18px;
    color: #12596d;
}

.conteudo .info-direita {
    margin-bottom: 40px;
    font-size: 18px;
    
}

.contato {
    background-color: #1EBBE5;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.text-contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 60px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    padding-top: 80px;
    font-size: 52px;
    margin: 0;
    font-family: 'Young Serif', serif;
}

h4 {
    font-size: 18px;
    margin:0;
    padding-top: 60px;
}

h4 span {
    color: black;
    font-size: 16px;
    font-family: 'Young Serif', serif;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
    height: 100vh;
    margin-bottom: 300px;
}

.contato {
    overflow: hidden;
}

.whats {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.whats:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale (1.1);
    transform: scale(1.1);
}

.insta {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.insta:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.email {
    transition: all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
}

.email:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);    
}

@media screen and (max-width: 1020px) {
    .navigation .nav-menu {
        display: none;
    }

    .navigation .logo {
        display: flex;
        margin-left: 90px;
    }

    .contato-btn {
        display: none;
    }

    .img {
        margin-top: -150px;
    }

    .home {
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
    }



    .text h3 {
        padding-top: 20px;
        margin-bottom: -50px;
    }

    .infos {
        padding-top: 0;
        margin-top: -100px;
        height: 100vh;
        width: 100vw;
        
    }

    .info-tab {
        padding: 0;
        padding-top: 0;

    }

    .tabela {
        width: 90vw;
        height: 60vh;
        border: 1px solid #12596d;
    }

    .conteudo .info-esquerda {
        margin-left: 30px;
        font-weight: 700;
    }

    .conteudo .info-direita {
        margin-right: 30px;
        font-weight: 700;
    }

    .contato {
        padding: 0;
    }

    .text-contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }

    .text-contato h3 {
        padding-top: 120px;
    }

    .text-contato h4 {
        margin-bottom: -40px;
    }

    .contatos {
        padding: 0;
        margin: 0;

    }

    .contatos .icons {
        margin-bottom: 180px;
    }

}